/* Form layout */
INPUT {
  vertical-align: middle;
}
INPUT.radio {
  margin-bottom: 2px;
}
TABLE.form,TABLE.formfixwidth {
  background-color: gainsboro;
  border: 3px solid gainsboro;
  position: relative;
  top: -1px;
  left: -1px;
}
TABLE.formfixwidth {
  width: 474px;
}
TABLE.shadow0 {
  background-color: lightgrey;
  position: relative;
  top: 3px;
  left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}
TABLE.shadow1 {
  background-color: darkgray;
  position:relative;
  top:-1px;
  left:-1px;
}
TABLE.shadow2 {
  background-color: gray;
  position:relative;
  top:-1px;
  left:-1px;
}
TABLE.note {
  background-color: #ff99ff;
  border: 2px solid black;
}
PRE {
  background-color: lightgrey;
}

/* General layout */
.white {
  background-color: white;
}
.color {
  background-color: #ffcb05;
}
.magenta {
  background-color: #dc0067;
}
A:link {
  color: navy;
}
A:visited {
  color: darkmagenta;
}
A:active {
  color: crimson;
}
A:hover {
  font-weight: bold;
}
A.form:link,A.form:visited,A.form:active,
A.color:link,A.color:visited,A.color:active,
A.plugin:link,A.plugin:visited,A.plugin:active,
A.magenta:link,A.magenta:visited,A.magenta:active {
  color: black;
  text-decoration: none;
}
A.form:hover,A.color:hover,A.plugin:hover,A.magenta:hover {
  color: black;
  text-decoration: underline;
}
A.white:link,A.white:visited,A.white:active,A.white:hover {
  color: white;
  text-decoration: none;
}
CODE {
  color: brown;
}
BIG.plugin {
  /* Navbar left heading */
  color: white;
  font-size: 20px;
  font-weight: bolder;
  line-height: 25px;
  font-family: Trebuchet, Arial, Helvetica, sans-serif;

}
DIV.plugin {
  /* Navbar left */
  color: black;
  background-image: url(images/ff-arrow-white.gif);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 14px;
  font-size: 15px;
  font-weight: bolder;
  font-family: Trebuchet, Arial, Helvetica, sans-serif;
}
DIV.white {
  /* Navbar HR */
  font-size: 0;
  height: 5px;
  width: 100%;
  background-color: white;
}
SPAN.color {
  /* Navbar top */
  color: black;
  font-size: 13px;
  font-weight: bolder;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Trebuchet, Arial, Helvetica, sans-serif;
}
ADDRESS.magenta,SPAN.magenta {
  /* Bottom bar */
  color: black;
  font-size: 13px;
  font-weight: bolder;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Trebuchet, Arial, Helvetica, sans-serif;
}
TABLE.body {
  background-color: white;
  height: 100%;
  width: 100%;
}
H1,H2,H3 {
  line-height: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: Trebuchet, Arial, Helvetica, sans-serif;
}
H1 {
  font-size: 15px;
}
H2 {
  font-size: 13px;
}
H3 {
  font-size: 11px;
}
P,OL,UL,DL,LI,DT,DD,TD,TH {
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
P,OL,UL,DL,PRE {
  margin-top: 4px;
  margin-bottom: 4px;
}
LI,DT,DD,TD,TH {
  margin-top: 1px;
  margin-bottom: 1px;
}
LI {
  list-style-position: outside;
  margin-left: -12px;
}
PRE {
  background-color: lightgrey;
}
BODY {
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  background-color: white;
}
